.full-screen-intro{

    min-height: 100vh;
    min-width: 100vw;
    background: url('../assets/placeholder.png');
    background-size: cover;
    background-position: center;

    .presentacion{
        font-family: 'Bungee';
    }

}